.nav__container{
    width: 90%;
    margin: 0 auto;
}

.footer__text{
    font-size: 35px;
    margin-bottom: 30px;
}

.icons__design{
    display: flex;
}
.icons__design .icons{
    font-size: 20px;
    background-color: #20B15A;
    border-radius: 50%;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.subscribe__style{
    border: 3px solid #000;
    border-radius: 10px;
}

@media (max-width: 48rem){
    .subscribe__input input{
        padding-right: 0px;
        font-size: 10px;
    }
    .subscribe__input button{
        font-size: 10px;
    }
}

@media (max-width: 22rem){
  .banner__text h1{
    font-size: 35px;
  }
}


.work__card:hover button{
    background-color: orangered;
    color: #fff;
   
}

.team__icon{
    align-items: center;
    border-radius: 30px;
    margin-left: 100px;
}