.project {
    padding-top: 40px;
}
.projectlist{
    display: grid;
    grid-template-columns:auto auto;
    margin-top: 40px;
}
.projectData h1{
    font-weight: 700;
    font-size: 32px;
    color: #263873;
}
.projectData p{
    font-size: 23px;
    font-weight: 400;
    color: #263873;
    padding: 10px 0px;
}


.projectData__btn{
    margin-bottom: 40px;
}