
.project2data h1{
    color: #263873;
    font-weight: 700;
    font-size: 30px;
    padding: 20px 0px;
}
.project2 .img{
}
.project2 .img img{
    width: 80%;
}
.project2data p{
    color:  #263873;
}
